:root {
    --spacing-24: 1.5rem;
    --spacing-40: 2.5rem;
}

@font-face {
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto-Regular.ttf'),
        url('./assets/fonts/Roboto-Bold.ttf'),;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-size: 16px;

    list-style: none;
}

/* Container */

.l-flex {
    display: flex;
    flex-direction: column;
}


/* SignUP Form  starts*/

/* add margin every child except the first one (img)  */
.signup-form {
    align-items: center;
    min-height: 100vh;
}


/* SignUP Form  starts*/

.signup-form>*:not(:first-child) {
    padding-left: 24px;
    padding-right: 24px;
}

/* SignUP Form  ends*/

/* Success Message starts */

.success-message {
    display: none;
}

/* Success Message ends */