:root {
    --spacing-24: 1.5rem;
    --spacing-40: 2.5rem;

    --Tomato: #ff6257;

    /* ### Neutral */

    --Dark-Slate-Grey: #242742;
    --Charcoal-Grey: #36384e;
    --Grey: #9294a0;
    --White: #ffffff;
}

@font-face {
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto-Regular.ttf'),
        url('./assets/fonts/Roboto-Bold.ttf'),;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-size: 16px;

    list-style: none;
}

/* Container */

.l-flex {
    display: flex;
    flex-direction: column;
}

main {
    align-items: center;
    min-height: 100vh;
    /* padding-bottom: var(--spacing-40); */
}

.signup__image {
    width: 100%;
    max-height: 284px;
    object-fit: cover;
}

/* SignUP Form  starts*/

/* add margin every child except the first one (img)  */
.signup-form {
    max-width: 425px;
    padding-bottom: var(--spacing-40);
}


.signup-form {
    margin-left: var(--spacing-24);
    margin-right: var(--spacing-24);
}

.signup-content {
    margin-top: var(--spacing-40); /* 40px */
    margin-bottom: var(--spacing-40); /* 40px */
    gap: var(--spacing-24); /* 24px */
}

.signup__headline, .success-message__headline {
    font-size: var(--spacing-40); /* 40px */
    font-weight: 700; /* bold */
}

.l-list__item {
    flex-direction: row;
}

.l-list__item:not(:last-child) {
    margin-bottom: 10px;
}

.l-list__item::before {
    content: url(./assets/images/icon-list.svg);
    width: 21px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
}

/* email-form starts*/

fieldset, button {
    border: none;
}

input {
    width: 100%;
    padding: 1rem 24px;
    border-radius: 8px;

    margin-bottom: var(--spacing-24);
}

.c-form small {
    font-size: 0.75rem;
    font-weight: 700;

}

.c-btn {
    color: var(--White);
    background-color: var(--Charcoal-Grey);
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 8px;
} 

/* email-form ends*/

/* SignUP Form  ends*/

/* Success Message starts */
.close {
    display: none;
}

.success-message {
    padding-left: var(--spacing-24);
    padding-right: var(--spacing-24);
    justify-content: center;
    align-items: flex-start;
}

.success-icon {
    margin-bottom: var(--spacing-40);
}

.success-message__headline {
    margin-bottom: var(--spacing-24);
}

.btn-wrapper {
    width: 100%;
}

/* Success Message ends */