:root {
    --spacing-24: 1.5rem;
    --spacing-40: 2.5rem;

    --Tomato: #ff6257;

    /* ### Neutral */

    --Dark-Slate-Grey: #242742;
    --Charcoal-Grey: #36384e;
    --Grey: #9294a0;
    --White: #ffffff;
}

@font-face {
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto-Regular.ttf'),
        url('./assets/fonts/Roboto-Bold.ttf'),;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-size: 16px;

    list-style: none;
}

/* Container */

.l-flex {
    display: flex;
    flex-direction: column;
}

main {
    align-items: center;
    min-height: 100vh;
    background-color: #36384D;
    /* padding-bottom: var(--spacing-40); */
}

.card {
    background-color: white;
}

.signup__image {
    width: 100%;
}

/* SignUP Form  starts*/

/* add margin every child except the first one (img)  */
.signup-form {
    max-width: 26.563rem;
    padding-bottom: var(--spacing-40);
}


.signup-form {
    padding-left: var(--spacing-24);
    padding-right: var(--spacing-24);
    padding-top: var(--spacing-40); /* 40px */
    padding-bottom: var(--spacing-40); /* 40px */
}

.signup-content {
    gap: var(--spacing-24); /* 24px */
}

.signup__headline, .success-message__headline {
    font-size: var(--spacing-40); /* 40px */
    font-weight: 700; /* bold */
}

.l-list__item {
    flex-direction: row;
}

.l-list__item:not(:last-child) {
    margin-bottom: 10px;
}

.l-list__item::before {
    content: url(./assets/images/icon-list.svg);
    width: 21px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
}

/* email-form starts*/

fieldset, button {
    border: none;
}

input {
    width: 100%;
    padding: 1rem 24px;
    border-radius: 8px;

    margin-bottom: var(--spacing-24);
}

.c-form small {
    font-size: 0.75rem;
    font-weight: 700;

}

.c-btn {
    color: var(--White);
    background-color: var(--Charcoal-Grey);
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 8px;
} 

/* email-form ends*/

/* SignUP Form  ends*/

/* Success Message starts */
.close {
    display: none;
}

.success-message {
    padding-left: var(--spacing-24);
    padding-right: var(--spacing-24);
    margin: 0 auto;
    justify-content: center;

    max-width: 26.563rem;
}

.success__aligning {
    min-height: inherit;
    justify-content: space-evenly;
}

.success-icon {
    margin-bottom: var(--spacing-40);
}

.success-message__headline {
    margin-bottom: var(--spacing-24);
}

.btn-wrapper {
    width: 100%;
}

/* Success Message ends */

/* ======================================================== */
                /* Media queris */
/* ======================================================== */

@media screen and (min-width: 48rem){
    main {
        align-items: center;
        justify-content: center;
    }

    .card {
        border-radius: 36px;
    }

    .container {
        max-width: 938px;
        flex-direction: row-reverse;
    }

    .signup__image {
        padding: 24px;
        min-width: 400px;
    }

    .signup-form {
        margin: auto;
        margin-left: 4rem;
        margin-right: 2.5rem;
        padding: 0;
    }

    .signup-content {
        margin-bottom: 2.5rem;
    }

    .signup__headline {
        font-size: 3.5rem;
    }

}